{% extends "/layout/appLayout.html" %}

{% block title %}FurniFlex | CompanyLocations{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-md-10">
                        <div>
                            <h6 class="m-0 font-weight-bold text-primary">Company Locations</h6>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="text-start">
                            <a href="/admin/companyLocation-create"><i class="fa-solid fa-plus"></i> Add Location</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Edit</th>
                                <th>Delete</th>                    
                            </tr>
                        </tfoot>
                        <tbody>
                        {% for companyLocation in companyLocations %}
                            <tr>
                                <td>{{ companyLocation.company.company_name }}</td>
                                <td>{{ companyLocation.address }}</td>
                                <td><a href="/admin/companyLocation-edit?id={{companyLocation.id}}"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/admin/companyLocation-delete?id={{companyLocation.id}}" class="delete-companyLocation"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block js %}
    <script>
        // Attach a click companyLocation listener to delete links
        document.addEventListener('DOMContentLoaded', function() {
            const deleteLinks = document.querySelectorAll('.delete-companyLocation');
            
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    const confirmation = confirm('Are you sure you want to delete this company location?');
                    
                    if (confirmation) {
                        // If the user confirms, redirect to the delete link's href
                        window.location.href = this.href;
                    }
                });
            });
        });
    </script>

{% endblock %}

