{% extends "/layout/appLayout.html" %}

{% block title %}Edit Review{% endblock %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="card shadow-lg border-0 rounded-lg mt-3">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-2">Edit Review</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/admin/review-update">
                            <input type="hidden" name="id" value="{{ review.id }}">
                            <div class="form-group">
                                <label class="small mb-1">Content: </label>
                                <textarea class="form-control" name="content" placeholder="Enter content" required>{{ review.content }}</textarea>
                            </div> 
                            <div class="form-group">
                                <label class="small mb-1">Rating: </label>
                                <input class="form-control" name="rating" value="{{ review.rating }}" type="number" placeholder="Enter rating" step="1" min="1" max="5" required />
                            </div>  
                            <div class="form-group">
                                <label class="small mb-1">Username: </label>
                                <input class="form-control" name="username" value="{{ review.username }}" type="text" placeholder="Enter username" required />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="companies">Company: </label>
                                <select class="form-control" name="company_id" id="companies" required>
                                    <option value="">Choose a company</option>
                                    {% for company in companies %}
                                        <option value="{{ company.id }}" {% if review.company_id == company.id %}selected{% endif %}>{{ company.company_name }}  {{ speaker.last_name}}                                         </option>
                                    {% endfor %}
                                </select>
                            </div>                                                                          
                            <input class="btn btn-primary" value="Edit Review" type="submit" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
