{% extends "/layout/appLayout.html" %}

{% block title %}FurniFlex | Reviews{% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <!-- DataTales Example -->
        <div class="card shadow">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Reviews</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Content</th>
                                <th>Rating</th>
                                <th>Username</th>
                                <th>Company name</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Content</th>
                                <th>Rating</th>
                                <th>Username</th>
                                <th>Company name</th>
                                <th>Edit</th>
                                <th>Delete</th>                    
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for review in reviews %}

                            <tr>
                                <td>{{ review.content | length > 100 ? review.content[:100] ~ '...' : review.content }}</td>
                                <td>{{ review.rating }}</td>
                                <td>{{ review.username }}</td>
                                <td>{{ review.company.company_name }}</td>
                                <td><a href="/admin/review-edit?id={{review.id}}"><i class="fas fa-edit"></i></a></td>
                                <td><a href="/admin/review-delete?id={{review.id}}" class="delete-review"><i class="fas fa-trash"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block js %}
    <script>
        // Attach a click event listener to delete links
        document.addEventListener('DOMContentLoaded', function() {
            const deleteLinks = document.querySelectorAll('.delete-review');
            
            deleteLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    const confirmation = confirm('Are you sure you want to delete this review?');
                    
                    if (confirmation) {
                        // If the user confirms, redirect to the delete link's href
                        window.location.href = this.href;
                    }
                });
            });
        });
    </script>

{% endblock %}

